// 重置样式
html,body
    font-weight 200
img 
    display block
h1, h2, h3, h4, h5, h6
    font-size 12px
    margin 0
    font-weight normal 
p
    margin 0

// 公共基础样式
.flex
    display flex 
.flex-v-center
    display flex 
    align-items center